/* Your Fixes */

.timeline-features {
    display: flex;
    justify-content: space-around;
}

/* Other CSS */


@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@700&display=swap');

html {
  font-size: 62.5%;
}

section {
  width: 100%;
  height: 100vh;
  margin: 50px 0;
}

.wrapper {
  width: 100%;
}

.timeline-features {
  color: black;
}

/* Features */

.feature {
  width: 155px;
}

.feature .subtitle, .feature .title {
  margin: 0;
}

.feature .subtitle {
  font-family: 'Inconsolata'; 
  font-weight: 400;
  font-size: 1.4em;
}

.feature .title {
  font-size: 1.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.feature .dot {
  width: 1.8em;
  height: 1.8em;
  background: #7D00FB;
  border-radius: 50%;
  border: .6em solid #F0F3Fa;
  margin-top: 1.2em;
}

/* Timeline "line" */

.line {
  width: 100%;
  height: 0.4em;
  background: #B19BC7;
  margin-top: -1.6em;
}